*, *::before, *::after {
    font-family: 'Poppins', sans-serif;
}

.container {
    margin-bottom: 50px;
}

.first-section {
    background-color: #F0FFF0;
    padding: 0px 50px 50px 50px;
}

.navbar-brand img{
    width: 125px;
    height: auto;
}

.button {
    background-color: #21B573;
    border: none;
    border-radius: 33px;
    padding: 5px 20px;
    color: white;   
}

.text-style {
    font-size: 16px;
    color: #585859;
}

.inner-div {
    text-align: center;
    background: #F8FFFB;
    border-radius: 10px;
    padding: 10px 7px;
}
.inner-div img {
    width: 66px;
    height: 85px;
    margin-top: 20px;
    margin-bottom: 30px;
}        
.inner-div p {
    font-size: 16px;
}

.inner-div:hover {
    background-color:#FFFFFF;
    box-shadow: 1px 1px 20px #E5E5E5;
}

.section-heading {
    font-weight: bold; 
    font-size: 36px; 
    text-align: center;
    margin-bottom: 30px;
}

.card-padding {
    padding: 13px 10px 17px 10px;
}

.card-title {
    margin-top: 15px;
}
.card-button-margin {
    margin-bottom: 20px;
}

.card-bottom-text{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.testimonial-section {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0px 150px;
}

.testimonial-section img {
    width: 120px;
    height: 120px;
}

.last-section {
    background-color: #282531;
    padding: 30px 0px 0px 60px;  
}

.last-section p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
}

.column-title p:first-child {
    font-weight: bold;
}

footer {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    color: #CDCDCD;
}

.mid-section-padding {
    padding: 0px 60px;
}

.img-size-1 {
    width: 20px;
    height: 20px;
    border: 1px solid red;
    padding: 0px;
}